	@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
	@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre);
			body{
				font-family: 'Noto Sans', sans-serif;
				background-color: #f5f5f5;
				text-align: center;
				overflow: hidden;
				}
			#configwindow{
				-webkit-transition: all 0.25s;
				-moz-transition: all 0.25s;
				-ms-transition: all 0.25s;
				position: absolute;
				width: 500px;
				height: 350px;
				left: 50%;
				top: 50%;
				margin-left: -250px;
				margin-top: -175px;
				background-color: rgba(245,245,245,1);
				border-radius: 4px;
				box-shadow: 0px 0px 2px rgba(0,0,0,0.53);
				overflow: hidden;
				visibility: hidden;
			}
			#towelconfig{
				position: fixed;
				height: 100%;
				width: 100%;
				left: 50%;
				top: 0;
				margin-left: -50%;
				background-color: rgba(26,25,25,0.92);
				z-index: 13;
				visibility: hidden;
				}
			#configitems{
				-webkit-transition: all 0.25s;
				-moz-transition: all 0.25s;
				-ms-transition: all 0.25s;
				position: absolute;
				width: 2000px;
				height: 270px;
				list-style: none; 
			    margin: 0;
			    left:0px;
			    padding: 0;
				}
			#configitems li{
				display: table-cell;
				width: 500px;
				height: 270px;
			}
			 #configbar{
				position: absolute;
				width: 100%;
				height: 80px;
				bottom: 0;
				box-shadow: 0px 0px 4px #bababa;
				}
			#beginconfig{
				position: absolute;
				width: 100px;
				height: 25px;
				color: white;
				text-align: center;
				background-color:rgba(111, 45, 143, 1);
				left: 50%;
				top:50%;
				margin-top: -12.5px;
				margin-left: -50px;
				cursor: pointer;
				}
			#buttonconfig{
				position: absolute;
				width: 100px;
				height: 25px;
				color: white;
				text-align: center;
				background-color:rgba(111, 45, 143, 1);
				right: 0;
				top:50%;
				margin-top: -12.5px;
				margin-right: 50px;
				cursor: pointer;
				visibility: hidden;
				}
			#buttonconfigprevious{
				position: absolute;
				width: 100px;
				height: 25px;
				color: white;
				text-align: center;
				background-color:rgba(111, 45, 143, 1);
				left: 0;
				top:50%;
				margin-top: -12.5px;
				margin-left: 50px;
				cursor: pointer;
				visibility: hidden;
				}
			@keyframes cfg{
				0% {background-image: url("config1.png"); }
				50% {background-image: url("config2.png");}
				100% {background-image: url("config1.png");}
				}
			@-webkit-keyframes cfg{
				0% {background-image: url("config1.png"); }
				30% {background-image: url("config2.png");}
				100% {background-image: url("config1.png");}
				}
			#logoconfig{
				position: absolute;
				width: 100px;
				height: 100px;
				left:0;
				margin-left: 200px;
				top:0;
				margin-top: 10px;
				background-image: url("config2.png");
				background-size: contain;
				-webkit-transition:all;
				animation: cfg 10s;
				-webkit-animation: cfg 10s infinite;
				animation-timing-function: linear;
				-webkit-animation-timing-function: linear;
			}
			#configsentence{
				position: absolute;
				width: 500px;
				height: 15px;
				text-align: center;
				font-size: 20px;
				top: 0;
				margin-top: 100px;
				left: 0;
			}
			#configsentence_sub{
				position: absolute;
				width: 500px;
				height: 15px;
				text-align: center;
				font-size: 14px;
				top: 0;
				margin-top: 135px;
				left: 0;
			}
			#language{
				position: absolute;
				top:0;
				margin-top: 170px;
				width: 200px;
				left: 0;
				margin-left: 150px;
				outline: none;
			}
			#userconfig{
				position: absolute;
				width: 100px;
				height: 100px;
				left:0;
				margin-left: 700px;
				top:0;
				margin-top: 10px;
				background-image: url("userconfig.png");
				background-size: contain;
			}
			#musicact{
				margin-top: 190px;
				font-size: 12px;
			}
			#nameconfig{
				position: absolute;
				width: 200px;
				left:0;
				height: 30px;
				outline: none;
				border: 1px solid #8e8e8e;
				border-radius: 2px;
				top:0;
				margin-top: 135px;
				margin-left: 650px;
				font-family: 'Noto Sans', sans-serif;
				font-size: 13px;
				background-color: white;
			}
			#surname{
				position: absolute;
				width: 200px;
				left:0;
				height: 30px;
				outline: none;
				border: 1px solid #8e8e8e;
				border-radius: 2px;
				top:0;
				margin-top: 175px;
				margin-left: 650px;
				font-family: 'Noto Sans', sans-serif;
                font-size: 13px;
				background-color: white;
			}
			#parental_section{
				position: absolute;
				width: 200px;
				left:0;
				height: 30px;
				top:0;
				margin-top: 225px;
				margin-left: 650px;
				font-family: 'Noto Sans', sans-serif;
                font-size: 13px;
			}
			#txtstep1{
				width: 200px;
				height: 30px;
				text-align: center;
				left:0;
				margin-left: 150px;
				font-size: 14px;
				margin-top: 100px;
			}
			#sport{
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.25s;
				-ms-transition: all 0.25s;
				position: absolute;
				width: 500px;
				height: 90px;
				top:0;
				left: 0;
				margin-left: 1000px;
				background-image: url("sport.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				z-index: 11;
			    color: white;
				font-size: 30px;
				line-height: 100px;
				text-align: center;
				cursor: pointer;
			}
			#sport:hover{
				height: 100px;
			}
			#sport:hover:after{
				content: "I am an athlete"
			}
			#wild{
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.25s;
				-ms-transition: all 0.25s;
				position: absolute;
				width: 500px;
				height: 90px;
				top:0;
				left: 0;
				margin-left: 1000px;
				margin-top: 90px;
				background-image: url("wild.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				z-index: 10;
				color: white;
				font-size: 30px;
				line-height: 100px;
				text-align: center;
				cursor: pointer;
			}
			#wild:hover{
				height: 100px;
			}
			#wild:hover:after{
				content: "I am an explorer"
			}
			#entertainment{
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.25s;
				-ms-transition: all 0.25s;
				position: absolute;
				width: 500px;
				height: 90px;
				top:0;
				left: 0;
				margin-left: 1000px;
				margin-top: 180px;
				background-image: url("entertainment.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				z-index: 5;
			    color: white;
				font-size: 30px;
				line-height: 100px;
				text-align: center;
				cursor: pointer;
			}
			#entertainment:hover{
				height: 100px;
			}
			#entertainment:hover:after{
				content: "I am a culture lover"
			}
			#end{
				position: absolute;
				width: 100px;
				height: 100px;
				left:0;
				margin-left: 1700px;
				top:0;
				margin-top: 40px;
				background-image: url("end.png");
				background-size: contain;
			}
			#endmsg{
				position: absolute;
				width: 500px;
				height: 15px;
				left: 0;
				margin-left: 1500px;
				text-align: center;
				font-size: 18px;
				top: 0;
				margin-top: 140px;
			}
